[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
streamlit = "*"
ipykernel = "*"
seaborn = "*"
matplotlib = "*"
jupyter = "*"
pandas-profiling = {extras = ["notebook"], version = "*"}
scikit-learn = "*"
autopep8 = "*"

[dev-packages]

[requires]
python_version = "3.10"
